#kw
.kwlp
.kwps
/oscp-topology.kwlp/
/oscp-topology.kwps/
/releasepom.kwlp/
/releasepom.kwps/
*.ipr
*.iws
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
gradle.properties
.gradle
local.properties

# IntelliJ IDEA
.idea
*.iml
target

# Eclipse
.classpath
.project
.settings
.gitignore
.gitreview

# OS X
.DS_Store

#yang-gen
xtend-gen
yang-gen-config
yang-gen-sal
# other
.pydevproject
.checkstyle
*.pyc
.kwlp
.kwps

/sh.exe.stackdump
/vim.exe.stackdump

/karaf/karaf-docker/Workspace
/karaf/karaf-docker/docker/tmp
/karaf/karaf-docker/docker/ubuntu-16.04.tar.gz
/features/all/logs/

logs/simulator.log
test/topo-peripheral-simulator/resp/key.txt
test/topo-peripheral-simulator/bin/logs/

dependency-reduced-pom.xml