<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zte.sunquan.dao.UserDao">

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id"/>
        <result property="name" column="_name"/>
        <result property="age" column="age"/>
    </resultMap>

    <select id="getAllUser" resultMap="userResultMap">
        select * from user
    </select>
    <insert id="addUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into user (id,_name,age) values (#{id,jdbcType=INTEGER},#{name},#{age});
    </insert>
</mapper>