grant{
    permission java.io.FilePermission "D:/*","read";
    permission com.zte.sunquan.demo.security.AppPermission "hello","read";
    permission com.zte.sunquan.demo.security.AppPermission "hello","write";
};