<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<!--   <bean id="myBean" class="com.zte.sunquan.demo.spring.v1.bean.MessageBean">-->
<!--     <property name="msg">-->
<!--       <value>hello,sunquan</value>-->
<!--     </property>-->
<!--   </bean>-->
</beans>

